// Colors
$button-background: color('amber', 'accent-3');
$button-color: $black;
$h1-shadow-color: rgba(0, 0, 0, .2);

// Skin customisation
.combustion-yellow-skin {
    .navbar-fixed {
        height: 0;
    }

    .btn,
    .btn-large {
        color: $button-color;
        background-color: $button-background;
    }

    .hero {
        background-color: color('grey', 'lighten-4');
    }

    h1 {
        @include transform(translateY(-50%));
        position: absolute;
        top: 50%;
        z-index: 10;
        width: 100%;
        padding: 0 3rem;
        margin: 0;
        font-size: 8rem;
        font-weight: 700;
        letter-spacing: 2px;
        color: $white;
        text-align: center;
        text-shadow: 0 1px 1px $h1-shadow-color;
        text-transform: uppercase;

        @media #{$small-and-down} {
            padding: 0 1rem;
            font-size: 4rem;
        }
    }
}
