// Colors
$button-background: color('indigo', 'accent-4');
$button-color: $white;
$h1-shadow-color: rgba(0, 0, 0, .2);

// Skin customisation
.fuzzy-hue-skin {
    .navbar-fixed {
        height: 0;
    }

    .btn,
    .btn-large {
        color: $button-color;
        background-color: $button-background;
    }

    .hero {
        background-color: color('grey', 'lighten-4');
    }

    h1 {
        position: absolute;
        top: 30%;
        z-index: 10;
        width: 100%;
        padding: 0 4rem;
        margin: 0;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 2px;
        color: $black;
        text-align: center;
        text-transform: uppercase;

        @media #{$small-and-down} {
            padding: 0 1rem;
            font-size: 3rem;
        }
    }
}
