// Colors
$button-background: color('deep-purple', 'accent-3');
$button-color: $white;
$h1-shadow-color: rgba(0, 0, 0, .2);

// Skin customisation
.waves-deep-purple-skin {
    .navbar-fixed {
        height: 0;
    }

    .btn,
    .btn-large {
        color: $button-color;
        background-color: $button-background;
    }

    .waves {
        background-color: color('deep-purple', 'accent-3');
    }

    .hero {
        position: relative;
        overflow: hidden;

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    h1 {
        position: absolute;
        top: 20%;
        z-index: 10;
        width: 100%;
        padding: 0 3rem;
        font-size: 4.5rem;
        font-weight: 200;
        letter-spacing: -3px;
        color: $white;
        text-align: center;
        text-shadow: 0 1px 20px transparentize(color('deep-purple', 'accent-3'), .2);

        @media #{$small-and-down} {
            font-size: 4rem;
        }
    }
}
