// Colors
$button-background: color('blue', 'base');
$button-color: $white;

// Skin customisation
.waves-light-blue-skin {
    .navbar-fixed {
        height: 0;
    }

    .btn,
    .btn-large {
        color: $button-color;
        background-color: $button-background;
    }

    .waves {
        background-color: color('blue', 'base');
    }

    .hero {
        position: relative;
        overflow: hidden;

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    h1 {
        @include transform(translateX(-50%));
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 10;
        width: 90%;
        font-size: 4.5rem;
        font-weight: 200;
        letter-spacing: -3px;
        color: $white;
        text-align: left;

        @media #{$small-and-down} {
            top: 15%;
            font-size: 3rem;
        }
    }
}
