// Roo modal
#roo.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-cover.col.s12.l6.no-padding
        .square(style='background-image: url(./assets/images/team/roo.jpg)')
    .modal-content.col.s12.l6.no-padding
        .square
            .content
                h4 Roo
                h5 Security &amp; QA
                .divider
                p.flow-text.
                    Wherein brought, seas light fowl night fifth god them. Grass heaven seed. Morning living
                    replenish lights i green creepeth winged also called lights said dominion of rule they're.
                    Every can't, spirit replenish night.
                p.flow-text.
                    Moving life lights. Abundantly own fourth all moved saw cattle given fourth own may.
                    Creepeth first of moved years form. Given good third to image bearing appear. Grass him
                    place tree set. Upon spirit very let two. Was thing.
                img.responsive-img(src='./assets/images/team/roo-modal.jpg', alt='Roo at work')
                p Roo testing out one of the latest projects.