extends base

block title
    title React &mdash; Combustion Purple

block vars
    - var bodyClass = 'combustion-purple-skin'
    - var formType = 'classic'

block spinner
    .spinner-double-dot-out

block hero
    section#hero.hero.full-height.valign-wrapper.scrollspy
        canvas#canvas
    h1.center Full service<br>digital agency

block skin-script
    script(src='./assets/js/skins/min/combustion-purple.min.js')
