extends base

block title
    title React &mdash; Fuzzy Saturation

block vars
    - var bodyClass = 'fuzzy-saturation-skin'
    - var formType = 'classic'

block spinner
    .spinner-double-wave-in

block hero
    section#hero.hero.full-height.valign-wrapper.scrollspy
        h1.center A creative studio based in NY

block skin-script
    script(src='./assets/js/skins/min/fuzzy-saturation.min.js')