extends base

block title
    title React &mdash; Fuzzy Hue

block vars
    - var bodyClass = 'fuzzy-hue-skin'
    - var formType = 'classic'

block spinner
    .spinner-double-wave-in

block hero
    section#hero.hero.full-height.valign-wrapper.scrollspy
        h1.center Bold, Innovative, Smart

block skin-script
    script(src='./assets/js/skins/min/fuzzy-hue.min.js')