extends base

block title
    title React &mdash; Ring Blue

block vars
    - var bodyClass = 'ring-pink-skin'
    - var formType = 'human'

block spinner
    .spinner-double-dot-out

block hero
    section#hero.hero.full-height.valign-wrapper.scrollspy
        #ring.ring
        h1.center Digital &amp; creative

block skin-script
    script(src='./assets/js/skins/min/ring.min.js')