extends base
include mixins/blocks
include mixins/themes

block title
    title= `${config.title}`

block vars
    case theme.theme
        when 'combustion-purple'
                - var bodyClass = 'combustion-purple-skin'
                - var formType = 'classic'
        when 'combustion-yellow'
                - var bodyClass = 'combustion-yellow-skin'
                - var formType = 'human'
        when 'fuzzy-hue'
                - var bodyClass = 'fuzzy-hue-skin'
                - var formType = 'classic'
        when 'fuzzy-saturation'
                - var bodyClass = 'fuzzy-saturation-skin'
                - var formType = 'classic'
        when 'ring-blue'
                - var bodyClass = 'ring-pink-skin'
                - var formType = 'human'
        when 'ring-green'
                - var bodyClass = 'ring-green-skin'
                - var formType = 'classic'
        when 'tunnel'
                - var bodyClass = 'tunnel-skin'
                - var formType = 'human'
        when 'waves-deep-purple'
                - var bodyClass = 'waves-deep-purple-skin'
                - var formType = 'classic'
        when 'waves-light-blue'
                - var bodyClass = 'waves-light-blue-skin'
                - var formType = 'human'
    //+vars(theme.theme) //not sure why mixin not working
    
block spinner
    +spinner(theme.theme)

block hero
    +hero(theme.theme)

block sections
    +blocks
    
block skin-script
    +skin(theme.theme)
    
