extends base

block title
    title React &mdash; Ring Green

block vars
    - var bodyClass = 'ring-green-skin'
    - var formType = 'classic'

block spinner
    .spinner-double-dot-out

block hero
    section#hero.hero.full-height.valign-wrapper.scrollspy
        #ring.ring
        h1.center We build things

block skin-script
    script(src='./assets/js/skins/min/ring.min.js')