extends base

block title
    title React &mdash; Tunnel

block vars
    - var bodyClass = 'tunnel-skin'
    - var formType = 'human'

block spinner
    .spinner-section-far

block hero
    section#hero.hero.full-height.valign-wrapper.scrollspy
        #tunnel.tunnel
            h1.center Digital craft<br>people enjoy using

block skin-script
    script(src='./libs/three.js/r58/three.min.js')
    script(src='./assets/js/skins/min/tunnel.min.js')