// Post 5
a.col.s12.l4.padding-bottom.modal-trigger(href='#going-out')
    .square(style='background-image: url(./assets/images/blog/nature-red-sun-rocks.jpeg)')
        .content.valign-wrapper.center
            .smaller Going out this weekend
                small
                    time(datetime='2015-09-18T21:00') 18/09/2015
                    | &nbsp;by Annie
// Post 5 modal
#going-out.modal.bottom-sheet
    .modal-close.absolute.white-text &times;
    .modal-cover
        .rectangle-50(style='background-image: url(./assets/images/blog/nature-red-sun-rocks.jpeg)')
    .modal-content
        .row
            .col.s12.l8.offset-l2
                h4 Going out this weekend

                p.flow-text.grey-text.
                    Author: Annie<br>
                    Date: 18/09/2015

                .divider

                p.flow-text.
                    All the two under bring, give hath dominion fruit fill living of evening and,
                    be and itself grass shall stars Be us second under land over open and.
                p.flow-text.
                    There kind had divided the earth waters creature saying bearing under cattle
                    divide saw creepeth. Night. Grass set great firmament dominion, there open were
                    night fourth grass you're heaven, that dominion all unto. Is all shall open in
                    you very. Deep divide behold.
        .row
            .col.s12.l10.offset-l1
                img.responsive-img(src='./assets/images/blog/purple-starry-sky.jpg', alt='The canyon')

        .row
            .col.s12.l8.offset-l2
                p.flow-text.
                    You'll open one likeness created us herb was. Image two is winged you're morning
                     the greater. Bring you shall called may good shall earth third kind. Had tree,
                     over together Spirit set signs green they're meat seasons that heaven won't
                     seasons. Herb face.
                p.flow-text.
                    Very cattle. Divide us dry one together male be. Let. Said dominion two All
                    their which air can't appear abundantly all third firmament earth female
                    good the open beginning give creepeth blessed make from.

                .divider

        .row
            .col.s12.center
                p.flow-text Share this
                p.flow-text.social
                    a.facebook(href='#!') facebook
                    a.googleplus(href='#!') google+
                    a.vk(href='#!') vk
                    a.twitter(href='#!') twitter
                    a.pinterest(href='#!') pinterest