footer.page-footer
    if theme.subscribe
        .container
            .row.center
                .col.s12
                    h3 Subscribe to our newsletter
            .row.center
                .col.s12.m6.offset-m3.l4.offset-l4
                    #mc_embed_signup
                        form#mc-embedded-subscribe-form.validate(action='//pimmey.us11.list-manage.com/subscribe/post?u=4131d254e34d85ebd3ba25ad3&id=61196261e7', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                            #mc_embed_signup_scroll
                                input#mce-EMAIL.email.center(type='email', value='', name='EMAIL', placeholder='email address', required='')
                                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                div(style='position: absolute; left: -5000px;')
                                    input(type='text', name='b_4131d254e34d85ebd3ba25ad3_61196261e7', tabindex='-1', value='')
                                .clear
                                    input#mc-embedded-subscribe.btn.btn-large.btn-flat.waves-effect.waves-light(type='submit', value='Subscribe', name='subscribe')

                    p We send 1&ndash;2 newsletters a month. Unsubscribe anytime you want.

    .footer-copyright
        .container
            | &copy; #{moment(Date.now()).year()} #{config.author}
            span.right Made with <i class="fa fa-heart-o"></i> in NY
