mixin blocks
    if theme.menu['projects']
        include ../sections/_projects
    if theme.menu['services']
        include ../sections/_services
    if theme.menu['prices']
        include ../sections/_prices
    if theme.menu['about']
        include ../sections/_about
    if theme.menu['blog']
        include ../sections/_blog
    if theme.menu['contact']
        include ../sections/_contact
