mixin list
    - for ( var key in theme.menu )
        li
            if theme.menu[key]
                if key == 'home'
                    a(href='#hero')= `${theme.menu[key]}`
                else
                    a(href='#'+`${key}`)= `${theme.menu[key]}`
