section#about.about.scrollspy
    .container
        h2: span About us
        h3 Meet the superheroes
        .row
            // About general photo
            .col.s12.l6.padding-bottom
                .rectangle(style='background-image: url(./assets/images/team/whiteboard.jpg)')

            // About carousel
            .owl-carousel.owl-theme.col.s12.l6
                a.col.s12.modal-trigger(href='#greg')
                    .rectangle(style='background-image: url(./assets/images/team/greg.jpg)')
                        .content
                            .name Greg Jason
                a.col.s12.modal-trigger(href='#annie')
                    .rectangle(style='background-image: url(./assets/images/team/annie.jpg)')
                        .content
                            .name Annie Redhat
                a.col.s12.modal-trigger(href='#kate')
                    .rectangle(style='background-image: url(./assets/images/team/kate.jpg)')
                        .content
                            .name Kate Willson
                a.col.s12.modal-trigger(href='#russell')
                    .rectangle(style='background-image: url(./assets/images/team/russell.jpg)')
                        .content
                            .name Russell Morgan
                a.col.s12.modal-trigger(href='#jane')
                    .rectangle(style='background-image: url(./assets/images/team/jane.jpg)')
                        .content
                            .name Jane Stitch
                a.col.s12.modal-trigger(href='#roo')
                    .rectangle(style='background-image: url(./assets/images/team/roo.jpg)')
                        .content
                            .name Roo
                .col.s12
                    .rectangle.grey.lighten-3
                        .content.valign-wrapper.you
                            .name You?
                                br
                                a(href='mailto:job@react?subject=Job%20Application') Apply now

            include ../team-modals/_greg
            include ../team-modals/_annie
            include ../team-modals/_kate
            include ../team-modals/_russell
            include ../team-modals/_jane
            include ../team-modals/_roo

        h3.margin-top Our philosophy
        .row.philosophy.big-icons-row.grey.lighten-4
            .col.s12
                ul.tabs
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-1')
                            i.icon-basic-magnifier
                            h5 Discover
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-2')
                            i.icon-ecommerce-graph3
                            h5 Analyse
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-3')
                            i.icon-ecommerce-graph-increase
                            h5 Improve
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-4')
                            i.icon-basic-pencil-ruler
                            h5 Measure
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-5')
                            i.icon-basic-mixer2
                            h5 Control

            .tab-contents
                #philosophy-1.col.s12.l8.offset-l2
                    h5 Discover
                    p.flow-text.center.margin-top-more.
                        Two for make behold form creature image She'd, waters forth, itself Blessed morning so sea
                        midst, in tree make i bring sixth moved darkness bearing. Meat itself light created spirit
                        under sea man.
                #philosophy-2.col.s12.l8.offset-l2
                    h5 Analyse
                    p.flow-text.center.margin-top-more.
                        Our evening male fowl fill. Heaven made. Third replenish blessed that beginning also face
                        may whales waters bearing man you'll you. Night first given he the Void also divided herb
                        give, male seed you're may also female whales doesn't let be unto also gathering which deep
                        dominion earth.
                #philosophy-3.col.s12.l8.offset-l2
                    h5 Improve
                    p.flow-text.center.margin-top-more.
                        Our, day had were morning beast greater a they're creepeth there Spirit, sea. His seasons
                        very there earth under you're set be male. Them years called i yielding From image greater.
                        Replenish deep wherein heaven over behold.
                #philosophy-4.col.s12.l8.offset-l2
                    h5 Measure
                    p.flow-text.center.margin-top-more.
                        Said behold. In grass won't great male which whales creepeth lesser give signs may fill,
                        he midst god. Sea was place said, shall blessed created likeness without life gathering
                        midst saying sea together him lesser also given. Days i subdue image sixth don't.
                #philosophy-5.col.s12.l8.offset-l2
                    h5 Control
                    p.flow-text.center.margin-top-more.
                        Isn't be one great blessed days moved meat lesser may seas bearing doesn't won't doesn't it
                        grass beginning Male he us he likeness. Had, beginning first bring can't. Can't won't
                        blessed man man every you'll heaven.