section#contact.contact.scrollspy
    .container
        h2: span Contact
        h3 Send us a message
        .row.send-message
            .col.s12.l8.offset-l2
                if (formType=='human')
                    #human-form.card-panel.center.hoverable
                        .row
                            .col.s12
                                p.flow-text
                                    | Dear guys from React,
                                    br
                                    | My name is&nbsp;
                                    span#name-human(contenteditable='true')
                                    |,
                                    | you can reach me via&nbsp;
                                    span#contact-human(contenteditable='true', data-position='top', data-delay='10', data-tooltip='Email or phone number').tooltipped
                                    |.
                                p.flow-text
                                    span#message-human(contenteditable='true') I would like to...
                                button#send-message-human.btn.btn-large.btn-flat.waves-effect.waves-light Send
                else if (formType=='classic')
                    .card-panel.center.hoverable
                        form#classic-form.row(action='mailer/mailer.php', novalidate, autocomplete='off')
                            .col.s12.l6
                                .input-field
                                    input#name-classic.validate(type='text', name='name')
                                    label(for='name-classic') Name
                            .col.s12.l6
                                .input-field
                                    input#contact-classic.validate(type='email', name='email')
                                    label(for='contact-classic') Email
                            .col.s12
                                .input-field
                                    textarea#message-classic.materialize-textarea(name='message')
                                    label(for='message-classic') Textarea
                            button#send-message-classic.btn.btn-large.btn-flat.waves-effect.waves-light(type='submit') Send

        h3.margin-top Come pay us a visit
        #map.map
        .row.contact-details
            .col.s12.l3
                h3.left-align Reach us
                .divider
                address
                    | B R James, 30 W 47th St
                    br
                    | New York, NY 10036
                    br
                a(href='https://maps.google.com?daddr=B+R+James+30+W=47th+St+NY+10036', target='_blank') Get directions
                    i.fa.fa-external-link
                p
                    | Opening hours
                    br
                    | 10:00&mdash;20:00
            .col.s12.l3
                h3.left-align Arrive by
                .divider
                p
                    strong Bus
                    |: use lines A4 or E18
                p
                    strong Subway
                    |: 42 St - Bryant Pk
                p
                    strong Helicopter
                    |: feel free to land on our rooftoop helipad

            .col.s12.l3
                h3.left-align Contact
                .divider
                p
                    | +1-917-643-4346
                    br
                    a(href='mailto:hello@react.com') hello@react.com
            .col.s12.l3
                h3.left-align IM
                .divider
                p.im
                    i.fa.fa-skype
                    a(href='skype:skypeid?chat') react.skype
                    br
                    i.fa.fa-twitter
                    a(href='https://twitter.com/@') @react.twitter
                    br
                    i.fa.fa-whatsapp
                    | react.whatsapp
                    br
                    i.fa.fa-wechat
                    | react.wechat