section#prices.prices.scrollspy
    .container
        h2: span Prices
        h3 Our best offers
        .row.center
            .col.s12.l4.grey.lighten-5
                .price-box.extra-padding
                    h4 Beginner
                    h5
                        span.currency $
                        | 19
                    .divider
                    ul.flow-text
                        li 5 users
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li &mdash;
                        li &mdash;
                    a.btn-large.btn-flat.waves-effect.waves-dark Buy
            .col.s12.l4.grey.lighten-4
                .price-box.featured.extra-padding
                    h4 Pro
                    h5
                        span.currency $
                        | 49
                    .divider
                    ul.flow-text
                        li 10 users
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Includes Jade templates engine') ?
                        li &mdash;
                    a.btn-large.btn-flat.waves-effect.waves-dark Buy
            .col.s12.l4.grey.lighten-5
                .price-box.extra-padding
                    h4 Enterprise
                    h5
                        span.currency $
                        | 199
                    .divider
                    ul.flow-text
                        li 25 users
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Includes Jade templates engine') ?
                        li Preprocessors
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='This is for Jade, Sass and CoffeeScript') ?
                    a.btn-large.btn-flat.waves-effect.waves-dark Buy

        h3.margin-top Frequently asked questions
        .row
            .col.s12.l8.offset-l2
                ul.collapsible(data-collapsible='accordion')
                    li
                        .collapsible-header.active
                            strong Is the starter pack really free?
                        .collapsible-body
                            p.flow-text.
                                A cattle she'd creepeth. That light make. Void two they're, can't us don't creepeth. Fruitful there
                                herb from signs she'd created whales them. Lights which face. Divided they're first. Dry wherein
                                own itself green it.
                    li
                        .collapsible-header
                            strong What is your return policy?
                        .collapsible-body
                            p.flow-text.
                                May years spirit of grass shall. Form also seas had that very was lesser creature void. Fill under
                                she'd own is light stars isn't moved you're.
                    li
                        .collapsible-header
                            strong Can I quit my subscription at any time?
                        .collapsible-body
                            p.flow-text.
                                There he meat forth days in. Fruit dry every morning Beast that saw. Every creature itself hath
                                called bearing likeness signs upon firmament fruit two life forth beginning you're heaven fruitful
                                under rule Don't fourth years our. Kind itself days.
                    li
                        .collapsible-header
                            strong Can I upgrade my plan?
                        .collapsible-body
                            p.flow-text.
                                Aliquam Maecenas consectetuer nisl cum inceptos. Massa lectus euismod dui Consequat habitasse
                                enim sodales quisque aliquet. Semper condimentum id, hendrerit sodales mi nam netus dictumst
                                platea. Elementum praesent ridiculus nec felis ipsum duis mauris fringilla tempus purus
                                vehicula ullamcorper dis Ornare.