section#prices.prices.scrollspy
    .container
        h2: span Prices
        h3 Our best offers
        .row.center
            .col.s12.l4.grey.lighten-5
                .price-box.extra-padding
                    h4 Beginner
                    h5
                        span.currency $
                        | 19
                    .divider
                    ul.flow-text
                        li 5 users
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li &mdash;
                        li &mdash;
                    a.btn-large.btn-flat.waves-effect.waves-dark Buy
            .col.s12.l4.grey.lighten-4
                .price-box.featured.extra-padding
                    h4 Pro
                    h5
                        span.currency $
                        | 49
                    .divider
                    ul.flow-text
                        li 10 users
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Includes Pug templates engine') ?
                        li &mdash;
                    a.btn-large.btn-flat.waves-effect.waves-dark Buy
            .col.s12.l4.grey.lighten-5
                .price-box.extra-padding
                    h4 Enterprise
                    h5
                        span.currency $
                        | 199
                    .divider
                    ul.flow-text
                        li 25 users
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='The number of allowed users') ?
                        li Optimisation
                        li Caching
                        li Automation
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Involves Gulp commands') ?
                        li Validation
                        li Linting
                        li Templating
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='Includes Pug templates engine') ?
                        li Preprocessors
                            span.info.tooltipped(data-position='top', data-delay='10', data-tooltip='This is for Pug, Sass and CoffeeScript') ?
                    a.btn-large.btn-flat.waves-effect.waves-dark Buy
