section#projects.projects.scrollspy
    .container
        h2: span Projects
        h3 The latest and the greatest
        .row
            include ../projects/_green-lamp

            include ../projects/_heisenberg-ice-cream

            include ../projects/_wooden-series-i

            include ../projects/_wooden-series-ii

            include ../projects/_wooden-series-iii