section#services.services.scrollspy
    .container
        h2: span Services
        h3 Our capabilities
        .row.big-icons-row.service-items.center
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-elaboration-smartphone-heart
                        .description
                            h4 User always comes first
                            p.flow-text When designing a product, we always think of how the user is going to experience it.
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-elaboration-message-happy
                        .description
                            h4 Reliable support
                            p.flow-text No matter what you're stuck with, our support team will respond in the most adequate manner.
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-lightbulb
                        .description
                            h4 Easy to realize your ideas
                            p.flow-text Your fantasy is the limit here. Using our elements you can make anything come true.

            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-lock
                        .description
                            h4 Completely secure
                            p.flow-text We don't take cyber security lightly, that's why our team put a lot of effort into securing this app.
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-basic-bolt
                        .description
                            h4 Swift performance
                            p.flow-text Powered by Materialize, this theme doesn't require page reloads, providing a seamless user experience.
            .col.s12.m6.l4.padding-bottom
                .square
                    .content
                        i.icon-software-eyedropper
                        .description
                            h4 Beautifully designed
                            p.flow-text Hand crafted with material design principles, with a focus on readability and white spaces.