// Project 3
a.col.s12.l6.padding-bottom.modal-trigger(href='#wooden-series-ii')
    .rectangle(style='background-image: url(./assets/images/work/dude-sign.png)')
        .content.valign-wrapper.center
            div Wooden Series II

// Project 3 modal
#wooden-series-ii.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-cover
        .rectangle-50(style='background-image: url(./assets/images/work/dude-sign.png)')
    .modal-content
        .row
            .col.s12.l8.offset-l2
                h4 Wooden Series II
                p.flow-text.grey-text.
                    Client: Danny Travolta<br>
                    Category: Toys<br>
                    Task: Creating two matching wooden figures
                .divider
                p.flow-text.
                    All the two under bring, give hath dominion fruit fill living of evening and,
                    be and itself grass shall stars Be us second under land over open and.
                p.flow-text.
                    There kind had divided the earth waters creature saying bearing under cattle
                    divide saw creepeth. Night. Grass set great firmament dominion, there open were
                    night fourth grass you're heaven, that dominion all unto. Is all shall open in
                    you very. Deep divide behold.
        .row
            .col.s12.l10.offset-l1
                blockquote.
                    Bring you shall called may good shall earth third kind. Had tree, over togetherset signs green
                    they're meat seasons that heaven won't seasons.
        .row
            .col.s12.l8.offset-l2
                p.flow-text.
                    You'll open one likeness created us herb was. Image two is winged you're morning
                     the greater. Bring you shall called may good shall earth third kind. Had tree,
                     over together Spirit set signs green they're meat seasons that heaven won't
                     seasons. Herb face.
                p.flow-text.
                    Very cattle. Divide us dry one together male be. Let. Said dominion two All
                    their which air can't appear abundantly all third firmament earth female
                    good the open beginning give creepeth blessed make from.
                .divider
        .row
            .col.s12.center
                p.flow-text Share this
                p.flow-text.social
                    a.facebook(href='#!') facebook
                    a.googleplus(href='#!') google+
                    a.vk(href='#!') vk
                    a.twitter(href='#!') twitter
                    a.pinterest(href='#!') pinterest